<article class="article-container">
    <h2 class="title">{{article.title}}</h2>
    <ul class="info">
        <li class="info_item">{{article.tag}}</li>
        <li class="info_item">Added by
            <span class="info_mark">{{article.author}}</span>
        </li>
        <li class="info_item">{{article.date}}</li>
    </ul>
    <div class="action_buttons">
        <button type="button" class="action_btn" (click)="editArticle()">Edit</button>
        <button type="button" class="action_btn">Delete</button>
    </div>

    <img class="img" src="{{article.imgUrl}}" alt="" />
    <div class="content">
        <p>{{article.content}}
            <a href="/details/{{article.id}}" class="nav__link"> click to read more
            </a>
        </p>
    </div>
</article>